# =====================
# Node.js
# =====================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.cache/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Runtime data / local DBs
# =====================
data/
uploads/

# =====================
# OS
# =====================
.DS_Store
.lnk
Thumbs.db

# =====================
# Editor / IDE
# =====================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =====================
# Other
# =====================
notes.txt